html {
    height: 100%;
    
}

body {
	
	
	background-color: #4158D0;
  background-image: linear-gradient(to top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
	font-family: sans-serif;
	font-weight: 100;
	
    
	
}

/* .container {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
} */

table {
	width: 800px;
	border-collapse: collapse;
	overflow: hidden;
	box-shadow: 0 0 20px rgba(0,0,0,0.1);
}

th,
td {
	padding: 15px;
	background-color: rgba(255,255,255,0.2);
	color: #fff;
}

th {
	text-align: left;
}

thead {
	th {
		background-color: #55608f ;
	}
}

tbody {
	tr {
		&:hover {
			background-color: rgba(255,255,255,0.3);
		}
	}
	td {
		position: relative;
		&:hover {
			&:before {
				content: "";
				position: absolute;
				left: 0;
				right: 0;
				top: -9999px;
				bottom: -9999px;
				background-color: rgba(255,255,255,0.2);
				z-index: -1;
			}
		}
	}
}
.logout {
    font-size:1.5em; 
    font-weight: 300;
    line-height:1em;
    text-align: right;
    color: #fa954d;
  }
  #chart-wrapper {
	width: 40%;
	position: absolute;
  top: 10%;
  right: 0.5%;
  }
  .table-title {
	padding-bottom: 10px;
	margin: 0 0 10px;
}
.table-title h2 {
	margin: 6px 0 0;
	font-size: 22px;
}
.table-title .add-new {
	float: right;
height: 30px;
font-weight: bold;
font-size: 12px;
text-shadow: none;
min-width: 100px;
border-radius: 50px;
line-height: 13px;
}
.table-title .add-new i {
margin-right: 4px;
}
table.table {
	table-layout: fixed;
}
table.table tr th, table.table tr td {
	border-color: #e9e9e9;
}
table.table th i {
	font-size: 13px;
	margin: 0 5px;
	cursor: pointer;
}
table.table th:last-child {
	width: 100px;
}
table.table td a {
cursor: pointer;
	display: inline-block;
	margin: 0 5px;
min-width: 24px;
}   
table.table td a.add {
	color: #27C46B;
}
table.table td a.edit {
	color: #FFC107;
}
table.table td a.delete {
	color: #E34724;
}
table.table td i {
	font-size: 19px;
}
table.table td a.add i {
	font-size: 24px;
 margin-right: -1px;
	position: relative;
	top: 3px;
}    
table.table .form-control {
	height: 32px;
	line-height: 32px;
	box-shadow: none;
	border-radius: 2px;
}
table.table .form-control.error {
border-color: #f50000;
}
table.table td .add {
display: none;
}


/* CSS  save button*/
.button-85 {
  padding: 0.6em 2em;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-85:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-button-85 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

@keyframes glowing-button-85 {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.button-85:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #222;
  left: 0;
  top: 0;
  border-radius: 10px;
}
header {
  background-color: rgb(35, 225, 111);
  position:relative !important;
  margin-bottom: 0px !important;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
  display: flex;
  align-items: center;
  box-shadow: 0 0 25px 0 black;
}

header * {
  display: inline;
}

header li {
  margin: 20px;
}

header li a {
  color: black;
  text-decoration: none;
}
  
