<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script>
    $(document).on("click", ".delete", function(){
        $(this).parents("tr").remove();
        $(".add-new").removeAttr("disabled");
        var id = $(this).attr("id");
        var string = id;
        $.post("/delete_user", { string: string}, function(data) {
            $("#displaymessage").html(data);
            $("#displaymessage").show();
        });
    });
</script>
</head>
<body>
    <li><a href="/Insert">Profile</a></li>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th style="width: 25%" >Notes</th>
                <th>User's Data</th>
            </tr>
        </thead>
        <tbody>
            {%for i,j in data %}
            <tr>
                
                <td>

                    <p>{{ j }}</p>
                 
                 </td>
                 <td>

                    <p>{{ i }}</p>
                 
                 </td>
                    <td>
        
                        <a class="delete" title="Delete" data-toggle="tooltip" id="{{i}}"><i class="fa fa-trash-o"></i></a>
                    </td>
                
                
            </tr>
            {%endfor%}
        </tbody>
    </table>

</body>
</html>